* { box-sizing: border-box; }

.product__view {
    max-width: 1000px;
    margin: 100px auto;
    display: flex;
}

.product__image__wrap,.product__details__wrap {
    flex: 0 0 50%;
}

.product__image__wrap {

    max-width: 200px;
}

.product__image__wrap img {
    display: inline-block;
    width: 100%;
    height: auto;
}

.product__details__wrap {
    padding: 20px;
}

h1 {
    margin: 0;
}

.product__colors__list {
    list-style-type: none;
    margin: 0; padding :0;
}

.color-box {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 5px;
    list-style: none;
}